.App {
    font-family: Arial, sans-serif;
  }
  
  .navbar, .footer {
    background-color: darkgray;
  }
  
  .navbar {
    display: flex;
    justify-content: flex-end; 
    padding: 10px;
  }
  
  .navbar button {
    margin: 0;
    padding: 5px 10px;
    background-color: transparent; 
    border: none; 
    color: inherit; 
    font: inherit; 
    cursor: pointer; 
    outline: none; 
    transition: color 0.3s ease; 
  }
  
  .navbar button:hover {
    color: #007BFF; 
  }
  
  .jumbotron {
    padding: 80px 0; 
    text-align: center;
    background-color: #e9ecef;
  }
  
  .jumbotron-title {
    font-size: 2.5em; 
    margin-bottom: 20px; 
  }
  
  .jumbotron-text {
    font-size: 1.2em; 
    max-width: 800px; 
    margin: 0 auto 20px auto; 
  }
  
  .jumbotron-button {
    padding: 10px 20px;
    font-size: 1.1em;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .jumbotron-button:hover {
    background-color: darkblue;
  }
  
  .container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px;
  }
  
  .cards-container {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
  }
  
  .card {
    width: 250px; 
    margin: 20px;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .card img {
    width: 500px;
    height: 325px;
    object-fit: cover; 
  }
  
  .blue-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .blue-button:hover {
    background-color: darkblue;
  }
  
  .footer {
    background-color: darkgray;
    padding: 20px 0;
    text-align: center;
  }